<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        tr,td,table{
            background-color: aqua;
            color:green;
            
        }
        th{
            color:black;
        }
        fieldset,legend{
            background-color: goldenrod;
        }
    </style>
    <title>AccessRecord</title>
</head>
<body>
    <center>
        <fieldset style="width: fit-content;border:solid blue;">
            <legend style="text-align:center;color:red;">topic_data</legend>
            <table border="2px">
                <tr>
                    <th>name</th>
                    <th>date</th>
                </tr>
                {% for A in QSA %}
                     <tr>
                        <td>{{A.name}}</td>
                        <td>{{A.date}}</td>
                     </tr>
                {% endfor %}     
            </table>
        </fieldset>        
    </center>
</body>
</html>